/*
 * FILES
 */

//includeConfig 'default.config'

process{
    executor='lsf'
}

params{
        stage = 'all'
        genus = "Actinidia"
        species = "chinensis"
        project = "NextFlowTest"
        output_dir = "./"
        //raw_data_dir = "/input/genomic/plant/${genus}/${species}/${agrf_contract}"
        //publish_dir = "/output/genomic/plant/${genus}/${species}/${project}"
        agrf_user = "DonaldHunter"
        agfr_passwd = "Sc9.udg"


        reads = "$baseDir/KiwiTestData/*.R{1,2}.fq.gz"
        genome = "$baseDir/KiwiTestData/kiwitest.fasta.gz"
        targets_file = "$baseDir/targets.txt"

        trimmomaticv = "0.36"
        trimmomatico = "SLIDINGWINDOW:5:20 MINLEN:70"
        pearv= "0.9.10"
        pearo = "-v 5 -t 70"
        fastqcv = "0.11.2"
        multiqcv = "1.2"

}

